.hero
  background: #F1F1F1 url('../img/hero/hero-bg.jpeg') no-repeat center top 80px
  background-size: contain
  padding-top: 180px
  padding-bottom: 270px
  &__title
    margin-bottom: 40px
    font-size: 30px
  &__subtitle
    display: block
    margin-bottom: 67px
    font-size: 30px
    +bold
  